@font-face {
    font-family: rubick;
    src: url(/fonts/Rubik-VariableFont_wght.ttf);
}


body{
    width: 100%;
    height: 100%;
    position: relative;
}


/*///////////HEADER///////////// */

header{
    height: 30%;
    width: 100%;
    border-bottom: 1px solid rgba(170, 170, 170, 0.7);
    box-shadow: 0 2px 6px rgba(170, 170, 170, 0.7);
    position: relative;
}

/*/////////TOP HEADER////////*/
.top_header{
    height: 15%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.top_logo a{
    display: flex;
    position: relative;
    background-image: url(/images/logo2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 165px;
    height: 75px;
}

.top_search{
    width: 400px;
    display: flex;
    align-items: center;
}

.search_string{
    width: 400px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 3px;
}

.users_accounts{
    display: flex;
}

.btn1{
    height: 30px;
    font-family: rubicks;
    font-size: 14px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 3px;
}

#reg_btn{
    margin-left: 3px;
}

.btn1:hover{
    background-color: rgba(110, 180, 255, 0.8);
    color: white;
}

#btnBusket{
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 35px;
    height: 30px;
    background-image: url(/images/busketjpeg.jpg);
    background-position: center;
    background-size: cover;
}


/*/////////BOTTOM HEADER////////*/
.bottom_header{
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

.top_menu{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.top_menu li{
    width: 100%;
    text-align: center;
    line-height: 45px;
}

.top_menu li a:hover{
    color: rgba(110, 180, 255, 0.8);
}

li a{
    font-family: rubick;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.sub_menu{
    display: none;
    position: absolute;
}

.sub_menu li{
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
}

.sub_menu li:hover{
    background-color: rgba(170, 170, 170, 0.1);
}

.sub_menu li a{
    font-family: rubick;
    font-size: 12px;
    
}

.sub_menu li a:hover{
    color: rgba(110, 180, 255, 0.8);
}

.top_menu li:hover .sub_menu{
    display: flex;
    flex-flow: column;
    position: relative;
}

/****************MAIN***************/

main{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    box-shadow: 3px 0 15px rgba(110, 180, 255, 0.2), -3px 0 15px rgba(110, 180, 255, 0.2);
    padding: 50px;
}

.cards_of_goods{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

}

.col-12{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 1px;
    margin-bottom: 25px;
}

.cardGood{
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
}

.cardPict{
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;
}

.btn{
    margin: auto;
}

/***************FOOTER************/
/**************TOP FOOTER************/
footer{
    width: 100%;
    background-color: rgb(75, 75, 75);
}

.top_footer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-family: rubick;
    font-size: 12px;
    margin-bottom: 15px;
}

.company_info{
    display: flex;
    flex-flow: column;

}

.company_info > p{
    border-bottom: 1px solid grey;
    margin: 15px 0 15px 0;
    padding-bottom: 10px;

}

.company_names{
    font-size: 20px;
    color: rgba(110, 180, 255, 0.8);
}

#location{
    width: 140px;
    border-bottom: none;
    color: black;
}

.company_footer_list li a{
    font-size: 14px;
    text-decoration: none;
}

.company_footer_list li a:hover{
    color: rgba(110, 180, 255, 0.8);
}

/*********BOTTOM FOOTER***************/
.bottom_footer{
    width: 63%;
    margin: 0 auto;
    border-top: 1px solid grey;
    padding: 10px 0 10px 0;
}

.footer_info p{
    font-family: rubick;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.5);
}